/*///////////////////////////////////////////////////////////////////////
Part of the code from the book 
Building Findable Websites: Web Standards, SEO, and Beyond
by Aarron Walter (aarron@buildingfindablewebsites.com)
http://buildingfindablewebsites.com

Distrbuted under Creative Commons license
http://creativecommons.org/licenses/by-sa/3.0/us/
///////////////////////////////////////////////////////////////////////*/

#signup {}

#signup fieldset {}
#signup legend {}
#signup input {border:1px solid #999;float:left;font-size:11px;}
#signup .newsletter-input {width:120px;height:18px;}
#signup .btn {padding:0;width:40px;border:1px solid #6bc89c;display:inline-block;height:18px;text-indent:-9999px;}

#signup #response {color:#f30;font-style:italic;font-size:8px; padding:.4em;}
#signup #no-spam {font-size:1.1em; font-style:italic; color:#666; margin-top:.4em;}
#signup #description {font-size:1.1em; margin:1.5em 1em -1.9em 0; color:#333; text-align:right; color:#333;}