@charset "utf-8";
/* CSS Document */


.smooth_slideri h2 {left:0 !important;}

#slideout {right:0 !important;position:absolute !important;}
#social-tabs {top:280px;position:absolute !important;right:-11px !important;}
.social-tabs {}


.google-map-placeholder {display:none !important;}